*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Noto Sans TC', 'Helvetica Neue', Helvetica, 'PingFang TC', '微軟正黑體', arial,
    'Microsoft JhengHei', sans-serif;
  color: #ffffff;
  height: auto;
  touch-action: pan-x, pan-y;
  overflow-y: auto;
}
button {
  background: inherit;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
}
.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 770px;
  @media (min-width: 768px) {
    &-border-blue {
      border-width: 0px 2px 2px;
      border-style: solid;
      border-color: #4199b5;
      box-shadow: 10px 10px#006788;
    }
    &-border-sky-blue {
      border-width: 4px;
      border-style: solid;
      border-color: #95cde9;
    }
    &-border-brown {
      border-width: 0px 2px 2px;
      border-style: solid;
      border-color: #947451;
      box-shadow: 10px 10px#65431D;
    }
  }
}
.fill-full-background {
  overflow: auto;
  height: calc(100vh - 31.5px);
}
.bg-blue {
  background-color: #006788;
}
.bg-darkBlue {
  background: #173341;
}
.bg-darkBrown {
  background: #3a342f;
}
.bg-brown {
  background-color: #65431d;
}
.bg-skyBlue {
  background-color: #def4ff;
}
